@font-face {
    font-family: "Minecraft";
    font-style: normal;
    font-weight: normal;
    src: url("/fonts/MinecraftNerdFont-Regular.otf");
}
@font-face {
    font-family: "Minecraft";
    font-style: italic;
    font-weight: normal;
    src: url("/fonts/MinecraftNerdFont-Italic.otf");
}
@font-face {
    font-family: "Minecraft";
    font-style: normal;
    font-weight: bold;
    src: url("/fonts/MinecraftNerdFont-Bold.otf");
}
@font-face {
    font-family: "Minecraft";
    font-style: italic;
    font-weight: bold;
    src: url("/fonts/MinecraftNerdFont-BoldItalic.otf");
}
